<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--导入写好的数据源配置-->
    <typeAliases>
        <typeAlias alias="Student" type="dq.database.entity.Student"  />
        <typeAlias alias="Course" type="dq.database.entity.Course"/>
        <typeAlias alias="SC" type="dq.database.entity.SC"/>
    </typeAliases>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/lab1-sct?useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=GMT%2B8"/>
                <property name="username" value="root"/>
                <property name="password" value="20010804"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/StudentMapper.xml"/>
        <mapper resource="mapper/SCMapper.xml"/>
        <mapper resource="mapper/CourseMapper.xml"/>
<!--        <package name="dq.database.mapper"/>-->
<!--        <mapper class="dq.database.mapper.StudentMapper" />-->
<!--        <mapper class="dq.database.mapper.CourseMapper"/>-->
<!--        <mapper class="dq.database.mapper.SCMapper"/>-->
    </mappers>
</configuration>
